<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"rockaden-archive-shop","layout":{"type":"constrained"}} -->
<main class="wp-block-group rockaden-archive-shop">

  <!-- wp:heading {"level":1,"className":"rockaden-archive-shop__heading"} -->
  <h1 class="wp-block-heading rockaden-archive-shop__heading">Handla</h1>
  <!-- /wp:heading -->

  <!-- wp:rockaden/shop-grid {"count":0,"layout":"grid","moreUrl":""} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
